* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

.hide{
    visibility: hidden;
}

.nav-item{
    padding-left:  30px;
}

.responceOk{
    box-shadow: 0px 0px 50px 5px green;
}

.error{
    box-shadow: 0px 0px 50px 5px red;
}

main{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    text-shadow: 0px 0px 5px rgb(49, 23, 1);
}

p[name ="pprice"]::after{
content: ':-';
    
}

p[name="partical"]::before{
    content: 'Artical: ';
}