@page "/products/add"
@inject HttpClient Http
@inject NavigationManager NavigationManager

<div class="container">
<h3>Add New Product</h3>
    <EditForm Model="@Model" OnSubmit="HandleSubmit">
        <InputText @bind-Value="Model.ArticaleNumber" placeholder="Article Number" class="mb-3 form-control" />
        <InputText @bind-Value="Model.Name" placeholder="Product Name" class="mb-3 form-control" />
        <InputNumber @bind-Value="Model.Price" placeholder="Price" class="mb-3 form-control" />
        <InputText @bind-Value="Model.CategoryName" placeholder="Category Name" class="mb-3 form-control" />
        <button type="submit" class="btn btn-primary">Create</button>
    </EditForm>
</div>

@code {
    public FormModel Model = new FormModel();

    public async Task HandleSubmit()
    {
        using var result = await Http.PostAsJsonAsync("https://localhost:7047/api/Products", Model);
            //using var response = await HttpClient.PostAsJsonAsync("https://reqres.in/api/articles", postBody);
        if (result.IsSuccessStatusCode)
            NavigationManager.NavigateTo("");
    }

    public class FormModel
    {
        public string ArticaleNumber { get; set; } = null!;
        public string Name { get; set; } = null!;
        public decimal Price { get; set; }
        public string CategoryName { get; set; } = null!;

        
    }

}
